temperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="TemperatureService"
    targetNamespace="http://example.com/TemperatureConversion"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/TemperatureConversion"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Types -->
    <types>
        <xsd:schema targetNamespace="http://example.com/TemperatureConversion">
            <xsd:element name="TemperatureConversionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="a" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="TemperatureConversionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="TemperatureConversionInput">
        <part name="parameters" element="tns:TemperatureConversionRequest"/>
    </message>

    <message name="TemperatureConversionOutput">
        <part name="parameters" element="tns:TemperatureConversionResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="TemperaturePort">
        <operation name="CelsiusToFahrenheit">
            <input message="tns:TemperatureConversionInput"/>
            <output message="tns:TemperatureConversionOutput"/>
        </operation>

        <operation name="FahrenheitToCelsius">
            <input message="tns:TemperatureConversionInput"/>
            <output message="tns:TemperatureConversionOutput"/>
        </operation>

        <operation name="CelsiusToKelvin">
            <input message="tns:TemperatureConversionInput"/>
            <output message="tns:TemperatureConversionOutput"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="TemperatureBinding" type="tns:TemperaturePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="CelsiusToFahrenheit">
            <soap:operation soapAction="CelsiusToFahrenheit"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="FahrenheitToCelsius">
            <soap:operation soapAction="FahrenheitToCelsius"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="CelsiusToKelvin">
            <soap:operation soapAction="CelsiusToKelvin"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="TemperatureService">
        <port name="TemperaturePort" binding="tns:TemperatureBinding">
            <soap:address location="http://localhost:8000/temperature"/>
        </port>
    </service>
</definitions>